.card__component {
  display: flex;
  max-width: 304px;
  background-color: #66635c;
  margin: 11px;

  .mat-mdc-card-header {
    justify-content: center;
    color: #FFF;
  }

  .mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-unthemed.mat-mdc-button-base {
    display: flex;
    margin: 3vh;
    margin-left: 10vh;
    color: #b7b3ac;
  }

  .mat-mdc-card-content p {
    display: flex;
    color: #f1f1f1;
    justify-content: center;
    padding: 6vh;
  }
}
